<div id="create-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Create Container</h3>
  </div>
  <div class="modal-body">
    <form>
        <fieldset>
            <legend>Start container</legend>

            <label>Version:</label>
            <select ng-model="config.version" ng-options="v.name for v in versions" required/>

            <label>Catalogue:</label>
            <select ng-model="config.catalogue" ng-options="c.name for c in catalogues" required/>

        </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <a href="" class="btn btn-primary" ng-click="create()">Create</a>
  </div>
</div>
